@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border;
          box-sizing: border;
  font-family: 微軟正黑體;
  color: #000;
}

#navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding: 30px 0;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  background-color: #fff;
}

.logo {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-left: 30px;
}

.logo:hover {
  color: #aaa;
}

.link a {
  text-decoration: none;
  padding: 60px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 28px;
}

.link a:hover {
  color: #aaa;
}

.social {
  text-align: right;
}

.social img {
  width: 48px;
  margin-right: 30px;
  -webkit-filter: invert(0%) sepia(100%) saturate(7500%) hue-rotate(137deg) brightness(91%) contrast(112%);
          filter: invert(0%) sepia(100%) saturate(7500%) hue-rotate(137deg) brightness(91%) contrast(112%);
}

.social img:hover {
  -webkit-filter: invert(78%) sepia(0%) saturate(0%) hue-rotate(347deg) brightness(88%) contrast(89%);
          filter: invert(78%) sepia(0%) saturate(0%) hue-rotate(347deg) brightness(88%) contrast(89%);
}

#banner {
  width: 100px;
  height: 100vh;
  background-color: #ffffff;
}

#about {
  width: 100%;
  height: 100vh;
  text-align: center;
}

#about .title {
  font-family: "Playfair Display", serif;
  padding: 20px;
  text-align: center;
}

#about a {
  text-decoration: none;
  border: 1px solid #000;
  padding: 10px 50px;
  margin-top: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#about a:hover {
  background-color: #000;
  color: #fff;
  font-size: 20px;
}

#about h2 {
  font-size: 240px;
  font-family: "Playfair Display", serif;
  letter-spacing: 20px;
  padding-left: 20px;
  margin-top: 100px;
  font-weight: 300;
}

#about p {
  margin: 50px;
  font-size: 24px;
}

#work {
  height: 100vh;
  background-color: #eee;
}

#work .title {
  text-align: center;
  font-family: "Playfair Display", serif;
  padding: 20px;
}

#work #work-box {
  width: 1200px;
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px 25px;
  -ms-grid-rows: (335px)[2];
      grid-template-rows: repeat(2, 335px);
}

#work #work-box .work-box-small img {
  width: 100%;
  height: 300px;
  display: block;
  background: #000;
}

#work #work-box .work-box-small span {
  border: 1px solid #000;
  border-radius: 15px;
  padding: 5px;
  margin-top: 5px;
  display: inline-block;
}

#work #work-box .work-box-small h2 {
  text-align: center;
  -webkit-transform: translateY(-32px);
          transform: translateY(-32px);
}

#work .buttom {
  text-align: center;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#work .buttom a {
  text-decoration: none;
  border: 1px solid #000;
  padding: 10px 50px;
  margin-top: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#work .buttom a:hover {
  background-color: #000;
  color: #fff;
  font-size: 20px;
}

footer {
  background-color: #000;
  padding: 50px;
  text-align: center;
  height: 300px;
}

footer a {
  color: #eee;
}

footer .social {
  text-align: center;
}

footer .social img {
  margin: 30px 25px;
  -webkit-filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(334deg) brightness(107%) contrast(102%);
          filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(334deg) brightness(107%) contrast(102%);
}

footer #copyright {
  color: #eee;
  margin-top: 50px;
}
/*# sourceMappingURL=style.css.map */